{{!--
Partial: Pagination
--}}


<div class="container mt-5 pb-5">
    <div class="pages float-end">
        <nav aria-label="Page navigation example">
            <ul class="pagination">


                {{#if page.first}}
                {{else}}
                <li class="page-item"><a class="page-link" href="" aria-label="Previous"><span
                            aria-hidden="true">&laquo;</span></a></li>
                {{/if}}


                {{#if page.first}}
                {{else}}
                <li class="page-item"><a class="page-link" href="?page={{page.previous}}"> {{page.previous}} </a></li>
                {{/if}}



                <li class="page-item active"><a class="page-link" href="?page={{page.current}}">{{page.current}}</a>
                </li>


                {{#if page.last}}
                {{else}}
                <li class="page-item"><a class="page-link" href="?page={{page.next}}">{{page.next}}</a></li>
                {{/if}}


                {{#if page.last}}
                {{else}}
                <li class="page-item"><a class="page-link" href="?page={{page.next}}" aria-label="Next"><span
                            aria-hidden="true">&raquo;</span></a></li>
                {{/if}}

            </ul>
        </nav>
    </div>
</div>
</section>


  {{!-- <div class="container mt-5 pb-5">
            <div class="pages float-end">
                  <nav aria-label="Page navigation example">
                        <ul class="pagination">
                              <li class="page-item">
                                    <a class="page-link" href="" aria-label="Previous">
                                          <span aria-hidden="true">&laquo;</span>
                                    </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="">1</a></li>
                              <li class="page-item"><a class="page-link" href="">2</a></li>
                              <li class="page-item"><a class="page-link" href="">3</a></li>
                              <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                          <span aria-hidden="true">&raquo;</span>
                                    </a>
                              </li>
                        </ul>
                  </nav>
            </div>
      </div> --}}
