{{!--
Partial : Event ID
--}}

<section class="event">
    <div class="container">
        <div class="event-details">
            <h2> {{ article.title }} </h2>


            <div class="article-container">
                <img src="/assets/images/Articles/{{article.img}}" alt="">
                <h4 class="mt-5">{{ article.genre_1}}, {{ article.genre_2 }}</h4>
                <p class="mt-5" style="line-break : anywhere" ;>{{ article.synopsis }} </p>
            </div>
            <hr>

        </div>
    </div>
</section>


